/* Generics */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/* Utilities */
.container {
  width: 75%;
  margin: 0 auto;
  max-width: 1980px;
}
.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.w-20 {
  width: 20%;
}
.w-60 {
  width: 60%;
}
.left {
  float: left;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
.button {
  padding: 10px 15px;
  border-radius: 30px;
}

/* Header */
#header-logo {
  background-color: #3161e0;
}
#header-logo div {
  line-height: 80px;
}
#logo {
  vertical-align: middle;
}

/* * nav */
nav li {
  display: inline-block;
}
#header-logo nav.w-60 {
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}
nav a:hover {
  text-decoration: underline;
}

/* * Button log-in */
#log-in-container {
  text-align: right;
}
#log-in-container .button {
  color: black;
  background-color: white;
  text-decoration: none;
}
#log-in-container a.button:hover {
  color: #3161e0;
}

/* Jumbotron */
#jumbotron {
  background-image: url(../img/jumbo.png);
  height: 650px;
  position: relative;
}
#jumbotron .jumbo-text {
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#jumbotron h1 {
  font-size: 75px;
  margin-bottom: 50px;
}
#jumbotron p {
  font-size: 25px;
  line-height: 30px;
}

/* * Jumbo button */
#jumbotron-button {
  margin-top: 50px;
}
#jumbotron-button .button {
  text-decoration: none;
  padding: 20px 40px;
  margin: 0 20px;
  font-size: 20px;
}
#jumbotron-button .download {
  color: #23272a;
  background-color: white;
}
#jumbotron-button .open-browser {
  color: white;
  background-color: #23272a;
}
#jumbotron-button span {
  font-size: 20px;
}
#jumbotron-button a.button:hover {
  color: #3161e0;
}
